CLIENT_URLS=http://localhost:5173,https://sonar-1-iop9.onrender.com
ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_BRITISH_MALE_VOICE_ID=pNInz6obpgDQGcFmaJgB
ELEVENLABS_BRITISH_FEMALE_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_AMERICAN_MALE_VOICE_ID=pNInz6obpgDQGcFmaJgB
ELEVENLABS_AMERICAN_FEMALE_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_NIGERIAN_MALE_VOICE_ID=pNInz6obpgDQGcFmaJgB
ELEVENLABS_NIGERIAN_FEMALE_VOICE_ID=21m00Tcm4TlvDq8ikWAM