CLIENT_URLS=http://localhost:5173,https://sonar-1-iop9.onrender.com
ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_BRITISH_MALE_VOICE_ID=your_voice_id
ELEVENLABS_BRITISH_FEMALE_VOICE_ID=your_voice_id
ELEVENLABS_AMERICAN_MALE_VOICE_ID=your_voice_id
ELEVENLABS_AMERICAN_FEMALE_VOICE_ID=your_voice_id
ELEVENLABS_NIGERIAN_MALE_VOICE_ID=your_voice_id
ELEVENLABS_NIGERIAN_FEMALE_VOICE_ID=your_voice_id
